# Task 1

1.)Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [1]:
# decalre the list 
number=[]
# do the loop from 2000 to 3201 because its start from zero 
for i in range(2000, 3201):
    #if condition for number divisible by 7 and number is not multiple by 5
    if (i%7==0) and (i%5!=0):
        #number will append to number list variable
        number.append(str(i))
        #join will add the comma seprated
print (','.join(number))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

2).Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
#input method take the value and store in variable 
fname = input("Enter your First Name : ")
lname = input("Enter your Last Name : ")
#print method will call the variable
print (lname + " " + fname)

Enter your First Name : akshay
Enter your Last Name : sharma
sharma akshay

3.)Write a Python program to find the volume of a sphere with diameter 12 cm.

In [5]:
diameter = 12
#diameter will divide by 2 for getting radius
pi = 3.1415926535897931
radius= 12/2
V= 4.0/3.0*pi* radius**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

# Task 2

1).Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [16]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print('the list is',list)

Input some comma seprated numbers : ns
the list is ['ns']

2).Create the below pattern using nested for loop in Python

In [3]:
#decalre the number 5 beacuse we want to first print 5 star
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
##first loop will prnt the 5 star
##second loop will minus every time one value goes to zero
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3.)Write a Python program to reverse a word after accepting the input from the user.

In [1]:
word = input("Enter the word then it will reserve: ")
reserveword = word[::-1]
print(reserveword)

Enter the word then it will reserve: akshay
yahska

4).Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [15]:
input_sentence = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
print ("input_sentence : " + input_sentence)
print ("\n")
##/n use for new line /t for tab
formatted_sentence = input_sentence.replace("INDIA, ", "INDIA,\n\t\t\t").replace("SOVEREIGN, ", "SOVEREIGN, \n\t\t\t\t").replace("REPUBLIC ", "REPUBLIC \n\t\t\t\t\t") 
print ("Formatted sentence : " + formatted_sentence)

input_sentence : WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens


Formatted sentence : WE, THE PEOPLE OF INDIA,
			having solemnly resolved to constitute India into a SOVEREIGN,
				SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
					and to secure to all its citizens